org.wso2.carbon.event.sink.config.stub/4.2.0/src/main/resources/publishEventMediatorConfigAdmin.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax2126="http://config.sink.event.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://services.config.sink.event.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.config.sink.event.carbon.wso2.org">
    <wsdl:documentation>PublishEventMediatorConfigAdmin</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax2127="http://config.sink.event.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://config.sink.event.carbon.wso2.org/xsd"></xs:import>
            <xs:element name="writeEventSink">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="receiverUrl" nillable="true" type="xs:string"></xs:element>
                        <xs:element minOccurs="0" name="authenticatorUrl" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="writeEventSinkResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveEventSinkConfig">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventSinkConfig" nillable="true" type="ax2127:EventSink"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveEventSinkConfigResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://config.sink.event.carbon.wso2.org/xsd">
            <xs:complexType name="EventSink">
                <xs:sequence>
                    <xs:element minOccurs="0" name="authenticatorUrl" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="receiverUrl" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="saveEventSinkConfigRequest">
        <wsdl:part name="parameters" element="ns1:saveEventSinkConfig"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="saveEventSinkConfigResponse">
        <wsdl:part name="parameters" element="ns1:saveEventSinkConfigResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="writeEventSinkRequest">
        <wsdl:part name="parameters" element="ns1:writeEventSink"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="writeEventSinkResponse">
        <wsdl:part name="parameters" element="ns1:writeEventSinkResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="PublishEventMediatorConfigAdminPortType">
        <wsdl:operation name="saveEventSinkConfig">
            <wsdl:input message="tns:saveEventSinkConfigRequest" wsaw:Action="urn:saveEventSinkConfig"></wsdl:input>
            <wsdl:output message="tns:saveEventSinkConfigResponse" wsaw:Action="urn:saveEventSinkConfigResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="writeEventSink">
            <wsdl:input message="tns:writeEventSinkRequest" wsaw:Action="urn:writeEventSink"></wsdl:input>
            <wsdl:output message="tns:writeEventSinkResponse" wsaw:Action="urn:writeEventSinkResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PublishEventMediatorConfigAdminSoap11Binding" type="tns:PublishEventMediatorConfigAdminPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="saveEventSinkConfig">
            <soap:operation soapAction="urn:saveEventSinkConfig" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="writeEventSink">
            <soap:operation soapAction="urn:writeEventSink" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PublishEventMediatorConfigAdminSoap12Binding" type="tns:PublishEventMediatorConfigAdminPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="saveEventSinkConfig">
            <soap12:operation soapAction="urn:saveEventSinkConfig" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="writeEventSink">
            <soap12:operation soapAction="urn:writeEventSink" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PublishEventMediatorConfigAdminHttpBinding" type="tns:PublishEventMediatorConfigAdminPortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="saveEventSinkConfig">
            <http:operation location="saveEventSinkConfig"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="writeEventSink">
            <http:operation location="writeEventSink"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PublishEventMediatorConfigAdmin">
        <wsdl:port name="PublishEventMediatorConfigAdminHttpsSoap11Endpoint" binding="tns:PublishEventMediatorConfigAdminSoap11Binding">
            <soap:address location="https://Vijithas-MacBook-Pro.local:8245/services/PublishEventMediatorConfigAdmin.PublishEventMediatorConfigAdminHttpsSoap11Endpoint"></soap:address>
        </wsdl:port>
        <wsdl:port name="PublishEventMediatorConfigAdminHttpsSoap12Endpoint" binding="tns:PublishEventMediatorConfigAdminSoap12Binding">
            <soap12:address location="https://Vijithas-MacBook-Pro.local:8245/services/PublishEventMediatorConfigAdmin.PublishEventMediatorConfigAdminHttpsSoap12Endpoint"></soap12:address>
        </wsdl:port>
        <wsdl:port name="PublishEventMediatorConfigAdminHttpsEndpoint" binding="tns:PublishEventMediatorConfigAdminHttpBinding">
            <http:address location="https://Vijithas-MacBook-Pro.local:8245/services/PublishEventMediatorConfigAdmin.PublishEventMediatorConfigAdminHttpsEndpoint"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>